body {
  background: #ffe1fc;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 1000px;
  height: 800px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}
img {
  border-radius: 15px;
}
.swiper-slide:first-child {
  background-color: rgb(206, 17, 17);
  text-align: center;
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35vh;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 10px;
}
.relations {
  padding-left: 10px;
}
.time {
  font-size: 40px;
  font-weight: bold;
  color: #3cc8ff;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
  transition: opacity 0.3s ease-in-out;
}

.time.blink {
  opacity: 0.3;
}

.label {
  font-size: 24px;
  color: #3cc8ff;
  margin: 0 10px;
}

.text {
  width: 50%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  line-height: 1.6;
  margin-top: 20px;
}
@keyframes appear {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes explode {
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}

.heart {
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url("../img/grp9WT.png");
  background-size: cover;
  animation: appear 0.3s ease-in-out;
}

.exploding {
  animation: explode 0.5s ease-in-out;
}
.page-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.page {
  flex: 1;
  min-height: 100vh;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
